<div class="sticky-menu-container{% unless cart.items.size > 0 %} hidden{% endunless %}" data-sticky-menu-container>

  {% if section.settings.show_calc %}
  <div class="sticky-menu-slideout" tabindex="-1" data-sticky-menu-slideout>
    <div class="sticky-menu-slideout-header relative container">
      <h5>{{ 'cart.button_calculate_shipping_title' | t | escape }}</h5>
      <button class="sticky-menu-slideout-button-dimiss" type="button" aria-label="{{ 'general.form.close' | t | escape }}" data-sticky-menu-slideout-button-dismiss>{%- render 'icons', id: 'close' -%}</button>
    </div>
    <div class="sticky-menu-slideout-content scroll-bar-v container">
      {%- liquid
        if cart.requires_shipping
         render 'cart.shipping.calculator'
        endif
      -%}
    </div>
  </div>
  {% endif %}

  <div class="sticky-menu container">
    
    <div>
      <div class="sticky-menu-button-checkout-price money" data-cart-subtotal>{% if settings.currency_enable %}{{ cart.total_price | money_with_currency }}{% else %}{{ cart.total_price | money }}{% endif %}</div>
      <div data-cart-discounts-simplified>
        <div class="cart-discount">
          {%- for discount_application in cart.cart_level_discount_applications -%}
          {%- render 'icons', id: 'sale-tag', class: ' cart-discount-sale-tag', size: 12 -%}{{ discount_application.title }} (-<span class="money">{% if settings.currency_enable %}{{ discount_application.total_allocated_amount | money_with_currency }}{% else %}{{ discount_application.total_allocated_amount | money }}{% endif %}</span>)
          {%- endfor -%}
        </div>
      </div>
    </div>
    
    <div class="sticky-menu-buttons{% unless section.settings.show_calc and cart.requires_shipping %} sticky-menu-buttons-one{% endunless %} sticky-menu-buttons-slideout-closed" data-sticky-menu-buttons-default>
      {% if section.settings.show_calc and cart.requires_shipping %}
      <button class="btn btn-secondary {% if background_color %}alt {% endif %}sticky-menu-button" type="button" data-sticky-menu-button-calculate-shipping>{{ 'cart.button_calculate_shipping_title_simple' | t }}</button>
      {% endif %}
      <button class="btn btn-primary {% if background_color %}alt {% endif %}sticky-menu-button" type="submit" name="checkout" data-sticky-menu-button-checkout>
        <span class="sticky-menu-button-checkout-text{% if section.settings.enable_checkout_lock_icon %} relative with-lock{% endif %}">
          {%- liquid
            if section.settings.enable_checkout_lock_icon
              render 'icons', id: 'checkout-lock', size: 18
            endif
          -%}
          <span>{{ 'cart.button_checkout_title' | t }}</span>
        </span>
      </button>
    </div>
    {% if section.settings.show_calc and cart.requires_shipping %}
    <div class="sticky-menu-buttons sticky-menu-buttons-slideout-open" data-sticky-menu-buttons-shipping-calculator>
      <button class="btn btn-secondary {% if background_color %}alt {% endif %}sticky-menu-button" type="button" data-sticky-menu-button-cancel-shipping>{{ 'cart.button_cancel_shipping_title' | t }}</button>
      <button type="button" class="btn btn-primary {% if background_color %}alt {% endif %}btn-spinner sticky-menu-button" data-shipping-calculator-submit>
        <span data-button-text>{{ 'cart.button_update_shipping_title' | t }}</span>
        <span class="spinner"></span>
      </button>      
    </div>
    {% endif %}
  </div>

</div>