{% render 'rapid-search-results-template-v2' %}
{%- liquid
  assign products_per_row = section.settings.products_per_row
  assign paginate_by = section.settings.products_per_page
  assign pagination_method = section.settings.products_pagination_method  
  assign collection_image = false
  if collection.image and section.settings.enable_image
  	assign collection_image = true
  endif  
  assign collection_description = false
  if collection.description != blank and section.settings.enable_description
  	assign collection_description = true
  endif  
  paginate collection.products by paginate_by
  	assign total_products = paginate.items
  endpaginate
  assign text_color = false
  if section.settings.section_color != 'rgba(0,0,0,0)' and section.settings.section_color != blank
    assign text_color = true
    assign text_color_section = section.settings.section_color
  endif     
  assign text_color_hover = false
  if section.settings.section_color_hover != 'rgba(0,0,0,0)' and section.settings.section_color_hover != blank
    assign text_color_hover = true
    assign text_color_hover_section = section.settings.section_color_hover
  endif    
  assign line_color = false
  if section.settings.section_line != 'rgba(0,0,0,0)' and section.settings.section_line != blank
    assign line_color = true
    assign line_color_section = section.settings.section_line
  endif
  assign btn_color_section = settings.color_background
  assign background_color = false
  if section.settings.background != 'rgba(0,0,0,0)' and section.settings.background != blank
    assign btn_color_section = section.settings.background
    assign background_color = true
    assign background_color_section = section.settings.background
  endif
  if section.settings.background_gradient != 'rgba(0,0,0,0)' and section.settings.background_gradient != blank
    assign background_color = true
    assign background_color_section = section.settings.background_gradient
  endif
-%}

{% style %}
  {%- if section.settings.enable_menu_form -%}body {padding-bottom: 100px;}{%- endif -%}
  .dynamic-section-{{ section.id }} {
    --section-padding-top-mobile: {{ section.settings.padding_top_mobile }}px;
    --section-padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --section-padding-bottom-mobile: {{ section.settings.padding_bottom_mobile }}px;
    --section-padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
    --section-margin-bottom-mobile: {{ section.settings.margin_bottom_mobile }}px;
    --section-margin-bottom-desktop: {{ section.settings.margin_bottom_desktop }}px;
    {%- if text_color -%}
    --color_title_text:{{ text_color_section }};
    --color_text:{{ text_color_section }};
    --color_text_modify_5:{{ text_color_section }};
    --color_text_modify_8:{{ text_color_section }};
    --color_text_modify_08:{{ text_color_section | color_modify: 'alpha', 0.08 }};
    --color_text_modify_25:{{ text_color_section | color_modify: 'alpha', 0.25 }};
    --color_accent:{{ text_color_section }};
    --color_accent_modify_25:{{ text_color_section | color_modify: 'alpha', 0.25 }};
    --color_error:{{ text_color_section }};
    --color_rating:{{ text_color_section }};
    --color_sale:{{ text_color_section }};
    --button_primary_background:{{ text_color_section }};
    --button_primary_border:{{ text_color_section }};
    --button_primary_text:{{ btn_color_section }};
    --button_secondary_background:{{ btn_color_section }};
    --button_secondary_border:{{ text_color_section }};
    --button_secondary_text:{{ text_color_section }};
    {%- endif -%}
    {%- if text_color_hover -%}
    --color_text_hover:{{ text_color_hover_section }};
    {%- endif -%}
    {%- if line_color -%}
    --color_border:{{ line_color_section }};
    {%- endif -%}
    {%- if background_color -%}
    --color_background:{{ background_color_section }};
    {%- endif -%}
  }
{% endstyle %}

<div class="dynamic-section dynamic-section-{{ section.id }} main-collection ">
  <section data-section-id="{{ section.id }}" 
           data-section-type="collection"
           data-collection-handle="{{ collection.handle }}"
           data-sort-by="{{ collection.sort_by | default: collection.default_sort_by }}"
           data-pagination-method="{{ pagination_method }}"
           data-products-per-page="{{ section.settings.products_per_page }}"         
           data-text-refine="{{ 'collection.refine.button_title' | t | escape }}"
           data-text-apply="{{ 'general.form.apply' | t | escape }}"
           data-text-cancel="{{ 'general.form.cancel' | t | escape }}"
           id="collection">
    <div class="container-inner section-padding-top section-padding-bottom section-margin-bottom{% if section.settings.padding_border %} section-border{% endif %}">
   
      {% capture collection_details %}
        {% if collection_image or collection.products.size == 0 or section.settings.title_enable or section.settings.title_sub != blank or collection_description %}
          <header class="collection-header{% unless collection_image %} collection-header-no-image{% endunless %} collection-header-2 " data-collection-header>

          {% if collection_image %}

            {%- liquid
              assign size = 1500
              assign sizes = '(min-width: 1024px) 1500px, (max-width: 767px) 500px, 100vw'
          
              if section.settings.enable_lazy
                assign lazy = 'lazy'
              else
                assign lazy = 'eager'
              endif
          
              if section.index == 1 and lazy != 'lazy'
                assign fetch = 'high'
              endif
            -%}
          
            <div class="collection-image {{ section.settings.insta_filter }}">
              <span class="collection-image-space height-padding-{{ section.settings.image_height }}">
                {%- liquid
                  if section.settings.image_height == 'original'
                    render 'image.load', img_src: collection.image, size: size, new_size: size, sizes: sizes, alt: alt, lazy: lazy, fetch: fetch
                  else
                    render 'image.load', img_src: collection.image, size: size, new_size: size, padding: section.settings.image_height, sizes: sizes, alt: alt, image_position: section.settings.image_position, background: true, lazy: lazy, fetch: fetch
                  endif
                -%}
              </span>
            </div>
          
          {% endif %}

            {% if collection.products.size == 0 or section.settings.title_enable or section.settings.title_sub != blank or collection_description %}
              <div class="collection-header-information">

                {% if section.settings.title_enable %}
                  <h1 class="collection-title section-title{% if section.settings.title_sub != blank %} section-title-half{% endif %} section-title-{{ section.settings.title_size }} {{ section.settings.title_outline }} no-pad">{{ collection.title }}</h1>
                {% endif %}
                {% if section.settings.title_sub != blank %}
                  <h2 class="section-title section-title-{{ section.settings.title_sub_size }} {{ section.settings.title_sub_outline }} no-pad">{{ section.settings.title_sub }}</h2>
                {% endif %}

                {% if collection_description %}
                <div class="collection-header-description">{{ collection.description }}</div>
                {% endif %}

                {% if collection.products.size == 0 %}
                <p class="collection-empty">
                  {%- liquid
                    if collection.all_products_count == 0
                      echo 'collection.empty' | t
                    else
                      echo 'collection.tags_empty' | t
                    endif
                  -%}
                </p>
                {% endif %}

              </div>
            {% endif %}

          </header>
        {% endif %}
      {% endcapture %}

      {% capture collection_filter_sortby %}
        {% unless section.settings.enable_menu_form %}
          {% if section.settings.enable_filters or section.settings.enable_sorting or section.settings.enable_breadcrumbs %}
          <div class="collection-filter-sortby">

            {% if section.settings.enable_filters %}
            <div class="collection-filter">
              <div class="collection-filter-select-wrapper collection-sortby-option collection-sortby-option-selected">
                <button type="button" class="keyed-inside" aria-label="{{ 'collection.refine.title' | t }}" data-filter>{%- render 'icons', id: 'filter' -%}</button>          
              </div>
            </div>
            {% endif %}

            {%- liquid
              if section.settings.enable_breadcrumbs
                render 'breadcrumbs'
              endif
            -%}

            {% if section.settings.enable_sorting %}
            <div class="collection-sortby">
              <div class="collection-sortby-select-wrapper collection-sortby-option collection-sortby-option-selected" data-select-wrapper data-select-wrapper-sortby>
                <label class="collection-sortby-label" for="collection-sortby" data-select-label>
                  {%- liquid
                    assign current_sort = collection.sort_by | default: collection.default_sort_by
                    for option in collection.sort_options
                      if option.value == current_sort
                        echo option.name
                      endif
                    endfor
                  -%}
                </label>
                <select class="collection-sortby-select scroll-bar-v" id="collection-sortby" data-select>
                  {% for option in collection.sort_options %}
                    <option value="{{ option.value }}"{% if current_sort contains option.value %} selected{% endif %}>{{ option.name }}</option>
                  {% endfor %}
                </select>
                <span class="collection-sortby-select-arrow">{%- render 'icons', id: 'arrow', size: 10 -%}</span>
              </div>
            </div>
            {% endif %}

          </div>
          {% endif %}
        {% endunless %}
      {% endcapture %}

      {%- liquid
        assign image_style = settings.product_item_style
        if settings.enable_image_crop and image_style != 'natural'
          assign image_style = image_style | prepend: 'cropped-'
        endif
        if section.settings.enable_image == false or collection.image == blank and section.settings.enable_image
          echo collection_details
        endif
        unless section.settings.enable_menu_form
          echo collection_filter_sortby
          if section.settings.enable_filters
            render 'collection.filters', class: 'static', enable_filters_color: section.settings.enable_filters_color, enable_filters_rounded: section.settings.enable_filters_rounded, enable_filters_label: section.settings.enable_filters_label, enable_filters_hide: section.settings.enable_filters_hide, background_color: background_color
          endif
        endunless
        if section.settings.enable_menu_form
          if section.settings.enable_filters or section.settings.enable_sorting or section.settings.enable_breadcrumbs
            render 'collection.sticky', enable_filters_color: section.settings.enable_filters_color, enable_filters_rounded: section.settings.enable_filters_rounded, enable_filters_label: section.settings.enable_filters_label, enable_filters: section.settings.enable_filters, enable_filters_hide: section.settings.enable_filters_hide, enable_breadcrumbs: section.settings.enable_breadcrumbs, enable_sorting: section.settings.enable_sorting, background_color: background_color
          endif
        endif
        case products_per_row
          when 2
            assign size = 610
            assign sizes = '(min-width: 1280px) 610px, calc(50vw - 50px)'
            if collection_image
              assign lazy_total = 3
            else
              assign lazy_total = 4
            endif
          when 3
            assign size = 441
            assign sizes = '(min-width: 1280px) 400px, (min-width: 960px) calc(33.33vw - 40px), calc(50vw - 50px)'
            if collection_image
              assign lazy_total = 4
            else
              assign lazy_total = 6
            endif
          when 4
            assign size = 441
            assign sizes = '(min-width: 1280px) 295px, (min-width: 960px) calc(25vw - 40px), calc(50vw - 50px)'
            if collection_image
              assign lazy_total = 5
            else
              assign lazy_total = 8
            endif
          when 5
            assign size = 441
            assign sizes = '(min-width: 1280px) 232px, (min-width: 960px) calc(20vw - 40px), calc(50vw - 50px)'
            if collection_image
              assign lazy_total = 7
            else
              assign lazy_total = 10
            endif
        endcase
        if section.settings.enable_lazy
          assign lazy = 'lazy'
        else
          assign lazy = 'eager'
        endif
      -%}


      {%- liquid
      if collection_image
        echo collection_details
      endif
      assign index = 0
    -%}

      {% paginate collection.products by paginate_by %}

        <div class="collection-grid-container relative"> 
  
          <div id="collection-grid" class="collection-grid{% if collection_image %} collection-grid-image{% endif %} product-item-style-{{ image_style }} rows-of-{{ section.settings.products_per_row }}" data-collection-grid>
  
            {%- liquid 
              assign index = 0
            -%}
  
            {% for product in collection.products %}
              {%- liquid
                assign index_based_on_page = paginate.current_offset | plus: forloop.index
              -%}
             {% comment %}  {%- liquid
                assign index_based_on_page = paginate.current_offset | plus: forloop.index
                if collection_image
                  assign top = false
                  if products_per_row == 2 and forloop.index0 == 0
                    assign top = true
                  elsif products_per_row == 3 and forloop.index0 == 0
                    assign top = true
                  elsif products_per_row == 4 and forloop.index0 == 0
                    assign top = true
                  elsif products_per_row == 5 and forloop.index0 == 0
                    assign top = true
                  endif
                  assign bottom = false
                  if products_per_row == 2 and forloop.index0 == 0
                    assign bottom = true
                  elsif products_per_row == 3 and forloop.index0 == 0
                    assign bottom = true
                  elsif products_per_row == 4 and forloop.index0 == 0
                    assign bottom = true
                  elsif products_per_row == 5 and forloop.index0 == 1
                    assign bottom = true
                  endif
                  if top
                    echo '<div class="collection-grid-item-center">'
                  endif
                endif
              -%} {% endcomment %}
              
              <div class="collection-grid-item grid-item-{% increment index %}" data-collection-grid-item>
                {%- render 'product.loop', product: product, product_style: image_style, size: size, sizes: sizes, lazy: lazy, lazy_total: lazy_total, forloop_index: forloop.index -%}
              </div>
  
           {% comment %}    {%- liquid
                if collection_image and bottom
                  echo '</div>'
                endif
              -%} {% endcomment %}
    
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'promotion' %}
                    {%- assign block_index = block.settings.index | times: 1 -%}
                    {% if block.settings.collection == blank or block.settings.collection == collection.handle %}
                      {% if block_index == index_based_on_page %}
                        <div class="{{ block.settings.insta_filter }} collection-grid-item collection-grid-item-advertisement collection-grid-item-advertisement-{{ block.settings.text_position }} grid-item-{% increment index %} section-layout dynamic-block-{{ block.id }}" {{ block.shopify_attributes }} data-collection-grid-item>
                          
                          {%- liquid
                            capture alt
                              if block.settings.image_desktop.alt != blank
                                echo collection.image_desktop.alt
                              elsif block.settings.image_mobile.alt != blank
                                echo collection.image_mobile.alt
                              elsif block.settings.text != blank
                                echo block.settings.text
                              elsif block.settings.link_text != blank
                                echo block.settings.text
                              else
                                echo collection.title
                              endif
                            endcapture
                            if block_index <= lazy_total
                              assign lazy = lazy
                            else
                              assign lazy = 'lazy'
                            endif
                          -%}
                          
                          {% if block.settings.link != blank and block.settings.link_text == blank %}<a href="{{ block.settings.link }}" title="{{ alt | escape }}" class="keyed collection-grid-item-advertisement-link">{% endif %}   
                          {%- liquid                      
                            if block.settings.image_desktop != blank
                              if block.settings.image_mobile != blank
                                assign class = 'desktop'
                              endif
                              capture alt
                                if block.settings.image_desktop.alt != blank
                                  echo block.settings.image_desktop.alt | escape
                                elsif block.settings.title != blank
                                  echo block.settings.title | escape
                                elsif block.settings.text != blank
                                  echo block.settings.text | escape
                                else
                                  echo section.settings.image_desktop | split: '/' | last | replace: '-', ' ' | replace: '_', ' ' | split: '.' | first | capitalize
                                endif
                              endcapture
                              render 'image.load', img_src: block.settings.image_desktop, size: 1240, new_size: 1240, padding: 100, sizes: sizes, alt: alt, background: true, class: class, lazy: lazy
                            endif
                            if block.settings.image_mobile != blank
                              if block.settings.image_desktop != blank
                                assign class = 'mobile'
                              endif
                              capture alt
                                if block.settings.image_mobile.alt != blank
                                  echo block.settings.image_mobile.alt | escape
                                elsif block.settings.title != blank
                                  echo block.settings.title | escape
                                elsif block.settings.text != blank
                                  echo block.settings.text | escape
                                else
                                  echo section.settings.image_mobile | split: '/' | last | replace: '-', ' ' | replace: '_', ' ' | split: '.' | first | capitalize
                                endif
                              endcapture
                              render 'image.load', img_src: block.settings.image_mobile, size: 1240, new_size: 1240, padding: 100, sizes: sizes, alt: alt, background: true, class: 'mobile', lazy: lazy                      
                            endif
                            if block.settings.overlay_opacity != 0 and block.settings.overlay_background != 'rgba(0,0,0,0)'
                              assign opacity = block.settings.overlay_opacity | times: 0.01
                              assign overlay = block.settings.overlay_background | color_modify: 'alpha', opacity
                              echo '<div class="section-layout-overlay skip" style="background: '
                              echo overlay
                              echo ';"></div>'
                            endif
                          -%}  
                          {% if block.settings.block_color != 'rgba(0,0,0,0)' and block.settings.block_color != blank %}
                            {% style %}
                              .dynamic-block-{{ block.id }} .block-color{color:{{ block.settings.block_color }};}>
                            {% endstyle %}
                          {% endif %}
        
                          {% if block.settings.text != blank %}
                            <p class="collection-grid-item-advertisement-text block-color">{{ block.settings.text }}</p>
                          {% endif %}
                          {% if block.settings.link != blank and block.settings.link_text != blank %}
                            <a class="keyed link-group block-color collection-grid-item-advertisement-link" href="{{ block.settings.link }}" title="{{ block.settings.link_text | escape }}">
                              <span><span class="link-text collection-grid-item-advertisement-link-text">{{ block.settings.link_text }}</span></span>
                              <span class="link-arrow collection-grid-item-advertisement-link-arrow">{%- render 'icons', id: 'arrow-long-r', size: 18 -%}</span>
                            </a>                    
                          {% endif %}  
                          
                          {% if block.settings.link != blank and block.settings.link_text == blank %}</a>{% endif %}                  
                          
                        </div>
                      {% endif %}
                    {% endif %}
                {% endcase %}
              {% endfor %}
  
            {% endfor %}
  
          </div>
        </div>
  
        <div id="infinite" class="infinite-scroll" data-infinite-scroll-target>
          {% if pagination_method contains 'infinite_scroll' and paginate.previous or paginate.next %}
          <button type="button" class="btn btn-secondary {% if background_color %}alt {% endif %}btn-spinner infinite-scroll-show-more" data-total-products="{{ total_products | json }}" data-infinite-scroll-show-more="{{ 'collection.show_more' | t | escape }}" data-infinite-scroll-loading="{{ 'collection.loading' | t | escape }}" data-infinite-scroll-button><span data-button-text>{{ 'collection.show_more' | t }}</span><span class="spinner"></span></button>
          {% endif %}
        </div>
  
        <div id="pagination"{% unless section.settings.products_pagination_method == 'traditional_pagination' %} class="infinite-pagination"{% endunless %} data-total-products="{{ total_products }}">
          {%- render 'pagination', paginate: paginate, title: collection.title -%}
        </div>

      {% endpaginate %}

    </div>
  </section>
</div>

{% schema %}
  {
    "name": "t:sections.section.titles.collections_list_page.content",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.text.title.label"
      },
      {
        "id": "title_enable",
        "type": "checkbox",
        "label": "t:sections.text.enable.label",
        "default": true
      },
      {
        "type": "select",
        "id": "title_outline",
        "label": "t:sections.text.outline.heading_outline.label",
        "options": [
          {
            "value": "none",
            "label": "t:sections.text.outline.option_1.label"
          },
          {
            "value": "title-outline title-outline-1",
            "label": "t:sections.text.outline.option_2.label"
          },
          {
            "value": "title-outline title-outline-2",
            "label": "t:sections.text.outline.option_3.label"
          },
          {
            "value": "title-outline title-outline-3",
            "label": "t:sections.text.outline.option_4.label"
          }
        ],
        "default": "none"
      },
      {
        "id": "title_size",
        "type": "range",
        "label": "t:sections.text.heading_size.label",
        "min": 18,
        "max": 96,
        "step": 6,
        "unit": "px",
        "default": 48
      },
      {
        "id": "title_sub",
        "type": "text",
        "label": "t:sections.text.subheading.label"
      },
      {
        "type": "select",
        "id": "title_sub_outline",
        "label": "t:sections.text.outline.subheading_outline.label",
        "options": [
          {
            "value": "none",
            "label": "t:sections.text.outline.option_1.label"
          },
          {
            "value": "title-outline title-outline-1",
            "label": "t:sections.text.outline.option_2.label"
          },
          {
            "value": "title-outline title-outline-2",
            "label": "t:sections.text.outline.option_3.label"
          },
          {
            "value": "title-outline title-outline-3",
            "label": "t:sections.text.outline.option_4.label"
          }
        ],
        "default": "none"
      },
      {
        "id": "title_sub_size",
        "type": "range",
        "label": "t:sections.text.subheading_size.label",
        "min": 18,
        "max": 96,
        "step": 6,
        "unit": "px",
        "default": 42
      },
      {
        "id": "section_color",
        "type": "color",
        "label": "t:sections.text.color.label"
      },
      {
        "id": "section_color_hover",
        "type": "color",
        "label": "t:sections.text.hover.label"
      },
      {
        "id": "section_line",
        "type": "color",
        "label": "t:settings_schema.colors.settings.elements_line.label"
      },
      {
        "type": "header",
        "content": "t:sections.general.options.label"
      },
      {
        "type": "checkbox",
        "id": "enable_menu_form",
        "label": "t:sections.general.sticky.label",
        "default": false,
        "info": "t:sections.general.sticky.collection.info"
      },
      {
        "type": "checkbox",
        "id": "enable_filters",
        "label": "t:sections.collection.filter.enable.label",
        "default": true
      },
      {
        "type": "select",
        "id": "enable_filters_color",
        "label": "t:sections.collection.filter.color.label",
        "default": "block",
        "options": [
          {
            "value": "text",
            "label": "t:sections.general.text.label"
          },
          {
            "value": "block",
            "label": "t:sections.product.blocks.variants.options.buttons.colors.label"
          },
          {
            "value": "img-block",
            "label": "t:sections.image.custom.label"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_filters_rounded",
        "label": "t:sections.collection.filter.rounded.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_filters_label",
        "label": "t:sections.collection.filter.hide.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_filters_hide",
        "label": "t:sections.collection.filter.disabled.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_breadcrumbs",
        "label": "t:sections.general.breadcrumbs.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_sorting",
        "label": "t:sections.collection.sorting.label",
        "default": true
      },
      {
        "id": "enable_lazy",
        "type": "checkbox",
        "label": "t:sections.general.lazy.multiple.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_image",
        "label": "t:sections.collection.image.label",
        "default": true
      },
      {
        "type": "select",
        "id": "image_height",
        "label": "t:sections.image.height.label",
        "options": [
          {
            "value": "25",
            "label": "t:sections.general.height.small.label"
          },
          {
            "value": "50",
            "label": "t:sections.general.height.medium.label"
          },
          {
            "value": "75",
            "label": "t:sections.general.height.large.label"
          },
          {
            "value": "original",
            "label": "t:sections.general.height.original.label"
          }
        ],
        "default": "original"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "t:sections.image.position.label",
        "options": [
          {
            "label": "t:sections.image.position.option_1.label",
            "value": "0-0"
          },
          {
            "label": "t:sections.image.position.option_2.label",
            "value": "50-0"
          },
          {
            "label": "t:sections.image.position.option_3.label",
            "value": "100-0"
          },
          {
            "label": "t:sections.image.position.option_4.label",
            "value": "0-50"
          },
          {
            "label": "t:sections.image.position.option_5.label",
            "value": "50-50"
          },
          {
            "label": "t:sections.image.position.option_6.label",
            "value": "100-50"
          },
          {
            "label": "t:sections.image.position.option_7.label",
            "value": "0-100"
          },
          {
            "label": "t:sections.image.position.option_8.label",
            "value": "50-100"
          },
          {
            "label": "t:sections.image.position.option_9.label",
            "value": "100-100"
          }
        ],
        "default": "50-50"
      },
      {
        "type": "select",
        "id": "insta_filter",
        "label": "t:sections.image.insta.label",
        "options": [
          {
            "value": "none",
            "label": "t:sections.image.insta.option_0.label"
          },
          {
            "value": "insta insta-seventy-seven",
            "label": "t:sections.image.insta.option_1.label"
          },
          {
            "value": "insta insta-aden",
            "label": "t:sections.image.insta.option_2.label"
          },
          {
            "value": "insta insta-amaro",
            "label": "t:sections.image.insta.option_3.label"
          },
          {
            "value": "insta insta-ashby",
            "label": "t:sections.image.insta.option_4.label"
          },
          {
            "value": "insta insta-brannan",
            "label": "t:sections.image.insta.option_5.label"
          },
          {
            "value": "insta insta-brooklyn",
            "label": "t:sections.image.insta.option_6.label"
          },
          {
            "value": "insta insta-charmes",
            "label": "t:sections.image.insta.option_7.label"
          },
          {
            "value": "insta insta-clarendon",
            "label": "t:sections.image.insta.option_8.label"
          },
          {
            "value": "insta insta-crema",
            "label": "t:sections.image.insta.option_9.label"
          },
          {
            "value": "insta insta-dogpatch",
            "label": "t:sections.image.insta.option_10.label"
          },
          {
            "value": "insta insta-earlybird",
            "label": "t:sections.image.insta.option_11.label"
          },
          {
            "value": "insta insta-gingham",
            "label": "t:sections.image.insta.option_12.label"
          },
          {
            "value": "insta insta-ginza",
            "label": "t:sections.image.insta.option_13.label"
          },
          {
            "value": "insta insta-hefe",
            "label": "t:sections.image.insta.option_14.label"
          },
          {
            "value": "insta insta-helena",
            "label": "t:sections.image.insta.option_15.label"
          },
          {
            "value": "insta insta-hudson",
            "label": "t:sections.image.insta.option_16.label"
          },
          {
            "value": "insta insta-inkwell",
            "label": "t:sections.image.insta.option_17.label"
          },
          {
            "value": "insta insta-juno",
            "label": "t:sections.image.insta.option_18.label"
          },
          {
            "value": "insta insta-kelvin",
            "label": "t:sections.image.insta.option_19.label"
          },
          {
            "value": "insta insta-lark",
            "label": "t:sections.image.insta.option_20.label"
          },
          {
            "value": "insta insta-lofi",
            "label": "t:sections.image.insta.option_21.label"
          },
          {
            "value": "insta insta-ludwig",
            "label": "t:sections.image.insta.option_22.label"
          },
          {
            "value": "insta insta-maven",
            "label": "t:sections.image.insta.option_23.label"
          },
          {
            "value": "insta insta-mayfair",
            "label": "t:sections.image.insta.option_24.label"
          },
          {
            "value": "insta insta-moon",
            "label": "t:sections.image.insta.option_25.label"
          },
          {
            "value": "insta insta-nashville",
            "label": "t:sections.image.insta.option_26.label"
          },
          {
            "value": "insta insta-perpetua",
            "label": "t:sections.image.insta.option_27.label"
          },
          {
            "value": "insta insta-poprocket",
            "label": "t:sections.image.insta.option_28.label"
          },
          {
            "value": "insta insta-reyes",
            "label": "t:sections.image.insta.option_29.label"
          },
          {
            "value": "insta insta-rise",
            "label": "t:sections.image.insta.option_30.label"
          },
          {
            "value": "insta insta-sierra",
            "label": "t:sections.image.insta.option_31.label"
          },
          {
            "value": "insta insta-skyline",
            "label": "t:sections.image.insta.option_32.label"
          },
          {
            "value": "insta insta-slumber",
            "label": "t:sections.image.insta.option_33.label"
          },
          {
            "value": "insta insta-stinson",
            "label": "t:sections.image.insta.option_34.label"
          },
          {
            "value": "insta insta-sutro",
            "label": "t:sections.image.insta.option_35.label"
          },
          {
            "value": "insta insta-toaster",
            "label": "t:sections.image.insta.option_36.label"
          },
          {
            "value": "insta insta-valencia",
            "label": "t:sections.image.insta.option_37.label"
          },
          {
            "value": "insta insta-vesper",
            "label": "t:sections.image.insta.option_38.label"
          },
          {
            "value": "insta insta-walden",
            "label": "t:sections.image.insta.option_39.label"
          },
          {
            "value": "insta insta-willow",
            "label": "t:sections.image.insta.option_40.label"
          },
          {
            "value": "insta insta-xpro2",
            "label": "t:sections.image.insta.option_41.label"
          }
        ],
        "default": "none"
      },
      {
        "type": "checkbox",
        "id": "enable_description",
        "label": "t:sections.general.description.show.label",
        "default": true
      },
      {
        "type": "range",
        "id": "products_per_page",
        "label": "t:sections.general.rows.products_page.label",
        "min": 12,
        "max": 50,
        "step": 1,
        "default": 12
      },
      {
        "type": "range",
        "id": "products_per_row",
        "label": "t:sections.general.rows.products_page_desktop.label",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "type": "select",
        "id": "products_pagination_method",
        "label": "t:sections.collection.pagination.label",
        "options": [
          {
            "value": "infinite_scroll_click_to_load",
            "label": "t:sections.collection.pagination.click.label"
          },
          {
            "value": "infinite_scroll",
            "label": "t:sections.collection.pagination.infinite.label"
          },
          {
            "value": "traditional_pagination",
            "label": "t:sections.collection.pagination.traditional.label"
          }
        ],
        "default": "infinite_scroll_click_to_load"
      },
      {
        "type": "header",
        "content": "t:sections.section.name.content"
      },
      {
        "id": "background",
        "type": "color",
        "label": "t:sections.section.settings.background_color.label"
      },
      {
        "id": "background_gradient",
        "type": "color_background",
        "label": "t:sections.section.settings.background_gradient.label"
      },
      {
        "type": "paragraph",
        "content": "t:sections.section.settings.mobile.content"
      },
      {
        "id": "padding_top_mobile",
        "type": "range",
        "label": "t:sections.section.settings.top_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 20
      },
      {
        "id": "padding_bottom_mobile",
        "type": "range",
        "label": "t:sections.section.settings.bottom_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 20
      },
      {
        "id": "margin_bottom_mobile",
        "type": "range",
        "label": "t:sections.section.settings.bottom_margin.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 20
      },
      {
        "type": "paragraph",
        "content": "t:sections.section.settings.desktop.content"
      },
      {
        "id": "padding_top_desktop",
        "type": "range",
        "label": "t:sections.section.settings.top_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 40
      },
      {
        "id": "padding_bottom_desktop",
        "type": "range",
        "label": "t:sections.section.settings.bottom_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 40
      },
      {
        "id": "margin_bottom_desktop",
        "type": "range",
        "label": "t:sections.section.settings.bottom_margin.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 40
      },
      {
        "id": "padding_border",
        "type": "checkbox",
        "label": "t:sections.section.settings.border.label",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "promotion",
        "name": "t:sections.collection.blocks.promotion.name",
        "settings": [
          {
            "type": "header",
            "content": "t:sections.collection.blocks.promotion.filter.content",
            "info": "t:sections.collection.blocks.promotion.filter.info"
          },
          {
            "id": "collection",
            "type": "text",
            "label": "t:sections.general.collection.label"
          },
          {
            "id": "index",
            "type": "text",
            "label": "t:sections.collection.blocks.promotion.after.label",
            "default": "10"
          },
          {
            "type": "header",
            "content": "t:sections.general.text.label"
          },
          {
            "id": "text",
            "type": "textarea",
            "label": "t:sections.general.text.label",
            "default": "Promotion text"
          },
          {
            "id": "link",
            "type": "url",
            "label": "t:sections.general.link.title.label"
          },
          {
            "id": "link_text",
            "type": "text",
            "label": "t:sections.general.link.title_text.label",
            "default": "More info here"
          },
          {
            "type": "select",
            "id": "text_position",
            "label": "t:sections.general.text_position.label",
            "options": [
              {
                "label": "t:sections.general.position.split.label",
                "value": "split"
              },
              {
                "label": "t:sections.general.position.top.label",
                "value": "top"
              },
              {
                "label": "t:sections.general.position.center.label",
                "value": "center"
              },
              {
                "label": "t:sections.general.position.bottom.label",
                "value": "bottom"
              }
            ],
            "default": "split"
          },
          {
            "type": "color",
            "id": "block_color",
            "label": "t:sections.general.text_color.label",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "overlay_background",
            "label": "t:sections.section.settings.background_color.label",
            "default": "#000000"
          },
          {
            "type": "range",
            "id": "overlay_opacity",
            "label": "t:sections.general.overlay.background_opacity.label",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "default": 25
          },
          {
            "type": "header",
            "content": "t:sections.image.title.label"
          },
          {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "t:sections.image.title.desktop.label",
            "info": "t:sections.image.position.info"
          },
          {
            "type": "select",
            "id": "insta_filter",
            "label": "t:sections.image.insta.label",
            "options": [
              {
                "value": "none",
                "label": "t:sections.image.insta.option_0.label"
              },
              {
                "value": "insta insta-seventy-seven",
                "label": "t:sections.image.insta.option_1.label"
              },
              {
                "value": "insta insta-aden",
                "label": "t:sections.image.insta.option_2.label"
              },
              {
                "value": "insta insta-amaro",
                "label": "t:sections.image.insta.option_3.label"
              },
              {
                "value": "insta insta-ashby",
                "label": "t:sections.image.insta.option_4.label"
              },
              {
                "value": "insta insta-brannan",
                "label": "t:sections.image.insta.option_5.label"
              },
              {
                "value": "insta insta-brooklyn",
                "label": "t:sections.image.insta.option_6.label"
              },
              {
                "value": "insta insta-charmes",
                "label": "t:sections.image.insta.option_7.label"
              },
              {
                "value": "insta insta-clarendon",
                "label": "t:sections.image.insta.option_8.label"
              },
              {
                "value": "insta insta-crema",
                "label": "t:sections.image.insta.option_9.label"
              },
              {
                "value": "insta insta-dogpatch",
                "label": "t:sections.image.insta.option_10.label"
              },
              {
                "value": "insta insta-earlybird",
                "label": "t:sections.image.insta.option_11.label"
              },
              {
                "value": "insta insta-gingham",
                "label": "t:sections.image.insta.option_12.label"
              },
              {
                "value": "insta insta-ginza",
                "label": "t:sections.image.insta.option_13.label"
              },
              {
                "value": "insta insta-hefe",
                "label": "t:sections.image.insta.option_14.label"
              },
              {
                "value": "insta insta-helena",
                "label": "t:sections.image.insta.option_15.label"
              },
              {
                "value": "insta insta-hudson",
                "label": "t:sections.image.insta.option_16.label"
              },
              {
                "value": "insta insta-inkwell",
                "label": "t:sections.image.insta.option_17.label"
              },
              {
                "value": "insta insta-juno",
                "label": "t:sections.image.insta.option_18.label"
              },
              {
                "value": "insta insta-kelvin",
                "label": "t:sections.image.insta.option_19.label"
              },
              {
                "value": "insta insta-lark",
                "label": "t:sections.image.insta.option_20.label"
              },
              {
                "value": "insta insta-lofi",
                "label": "t:sections.image.insta.option_21.label"
              },
              {
                "value": "insta insta-ludwig",
                "label": "t:sections.image.insta.option_22.label"
              },
              {
                "value": "insta insta-maven",
                "label": "t:sections.image.insta.option_23.label"
              },
              {
                "value": "insta insta-mayfair",
                "label": "t:sections.image.insta.option_24.label"
              },
              {
                "value": "insta insta-moon",
                "label": "t:sections.image.insta.option_25.label"
              },
              {
                "value": "insta insta-nashville",
                "label": "t:sections.image.insta.option_26.label"
              },
              {
                "value": "insta insta-perpetua",
                "label": "t:sections.image.insta.option_27.label"
              },
              {
                "value": "insta insta-poprocket",
                "label": "t:sections.image.insta.option_28.label"
              },
              {
                "value": "insta insta-reyes",
                "label": "t:sections.image.insta.option_29.label"
              },
              {
                "value": "insta insta-rise",
                "label": "t:sections.image.insta.option_30.label"
              },
              {
                "value": "insta insta-sierra",
                "label": "t:sections.image.insta.option_31.label"
              },
              {
                "value": "insta insta-skyline",
                "label": "t:sections.image.insta.option_32.label"
              },
              {
                "value": "insta insta-slumber",
                "label": "t:sections.image.insta.option_33.label"
              },
              {
                "value": "insta insta-stinson",
                "label": "t:sections.image.insta.option_34.label"
              },
              {
                "value": "insta insta-sutro",
                "label": "t:sections.image.insta.option_35.label"
              },
              {
                "value": "insta insta-toaster",
                "label": "t:sections.image.insta.option_36.label"
              },
              {
                "value": "insta insta-valencia",
                "label": "t:sections.image.insta.option_37.label"
              },
              {
                "value": "insta insta-vesper",
                "label": "t:sections.image.insta.option_38.label"
              },
              {
                "value": "insta insta-walden",
                "label": "t:sections.image.insta.option_39.label"
              },
              {
                "value": "insta insta-willow",
                "label": "t:sections.image.insta.option_40.label"
              },
              {
                "value": "insta insta-xpro2",
                "label": "t:sections.image.insta.option_41.label"
              }
            ],
            "default": "none"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "t:sections.image.title.mobile.label",
            "info": "t:sections.image.position.info"
          },
          {
            "type": "select",
            "id": "insta_filter_mobile",
            "label": "t:sections.image.insta.label",
            "options": [
              {
                "value": "none",
                "label": "t:sections.image.insta.option_0.label"
              },
              {
                "value": "insta insta-seventy-seven",
                "label": "t:sections.image.insta.option_1.label"
              },
              {
                "value": "insta insta-aden",
                "label": "t:sections.image.insta.option_2.label"
              },
              {
                "value": "insta insta-amaro",
                "label": "t:sections.image.insta.option_3.label"
              },
              {
                "value": "insta insta-ashby",
                "label": "t:sections.image.insta.option_4.label"
              },
              {
                "value": "insta insta-brannan",
                "label": "t:sections.image.insta.option_5.label"
              },
              {
                "value": "insta insta-brooklyn",
                "label": "t:sections.image.insta.option_6.label"
              },
              {
                "value": "insta insta-charmes",
                "label": "t:sections.image.insta.option_7.label"
              },
              {
                "value": "insta insta-clarendon",
                "label": "t:sections.image.insta.option_8.label"
              },
              {
                "value": "insta insta-crema",
                "label": "t:sections.image.insta.option_9.label"
              },
              {
                "value": "insta insta-dogpatch",
                "label": "t:sections.image.insta.option_10.label"
              },
              {
                "value": "insta insta-earlybird",
                "label": "t:sections.image.insta.option_11.label"
              },
              {
                "value": "insta insta-gingham",
                "label": "t:sections.image.insta.option_12.label"
              },
              {
                "value": "insta insta-ginza",
                "label": "t:sections.image.insta.option_13.label"
              },
              {
                "value": "insta insta-hefe",
                "label": "t:sections.image.insta.option_14.label"
              },
              {
                "value": "insta insta-helena",
                "label": "t:sections.image.insta.option_15.label"
              },
              {
                "value": "insta insta-hudson",
                "label": "t:sections.image.insta.option_16.label"
              },
              {
                "value": "insta insta-inkwell",
                "label": "t:sections.image.insta.option_17.label"
              },
              {
                "value": "insta insta-juno",
                "label": "t:sections.image.insta.option_18.label"
              },
              {
                "value": "insta insta-kelvin",
                "label": "t:sections.image.insta.option_19.label"
              },
              {
                "value": "insta insta-lark",
                "label": "t:sections.image.insta.option_20.label"
              },
              {
                "value": "insta insta-lofi",
                "label": "t:sections.image.insta.option_21.label"
              },
              {
                "value": "insta insta-ludwig",
                "label": "t:sections.image.insta.option_22.label"
              },
              {
                "value": "insta insta-maven",
                "label": "t:sections.image.insta.option_23.label"
              },
              {
                "value": "insta insta-mayfair",
                "label": "t:sections.image.insta.option_24.label"
              },
              {
                "value": "insta insta-moon",
                "label": "t:sections.image.insta.option_25.label"
              },
              {
                "value": "insta insta-nashville",
                "label": "t:sections.image.insta.option_26.label"
              },
              {
                "value": "insta insta-perpetua",
                "label": "t:sections.image.insta.option_27.label"
              },
              {
                "value": "insta insta-poprocket",
                "label": "t:sections.image.insta.option_28.label"
              },
              {
                "value": "insta insta-reyes",
                "label": "t:sections.image.insta.option_29.label"
              },
              {
                "value": "insta insta-rise",
                "label": "t:sections.image.insta.option_30.label"
              },
              {
                "value": "insta insta-sierra",
                "label": "t:sections.image.insta.option_31.label"
              },
              {
                "value": "insta insta-skyline",
                "label": "t:sections.image.insta.option_32.label"
              },
              {
                "value": "insta insta-slumber",
                "label": "t:sections.image.insta.option_33.label"
              },
              {
                "value": "insta insta-stinson",
                "label": "t:sections.image.insta.option_34.label"
              },
              {
                "value": "insta insta-sutro",
                "label": "t:sections.image.insta.option_35.label"
              },
              {
                "value": "insta insta-toaster",
                "label": "t:sections.image.insta.option_36.label"
              },
              {
                "value": "insta insta-valencia",
                "label": "t:sections.image.insta.option_37.label"
              },
              {
                "value": "insta insta-vesper",
                "label": "t:sections.image.insta.option_38.label"
              },
              {
                "value": "insta insta-walden",
                "label": "t:sections.image.insta.option_39.label"
              },
              {
                "value": "insta insta-willow",
                "label": "t:sections.image.insta.option_40.label"
              },
              {
                "value": "insta insta-xpro2",
                "label": "t:sections.image.insta.option_41.label"
              }
            ],
            "default": "none"
          }
        ]
      }
    ]
  }
{% endschema %}