
{%- liquid
  assign text_color = false
  if section.settings.section_color != 'rgba(0,0,0,0)' and section.settings.section_color != blank
    assign text_color = true
    assign text_color_section = section.settings.section_color
  endif     
  assign text_color_hover = false
  if section.settings.section_color_hover != 'rgba(0,0,0,0)' and section.settings.section_color_hover != blank
    assign text_color_hover = true
    assign text_color_hover_section = section.settings.section_color_hover
  endif    
  assign line_color = false
  if section.settings.section_line != 'rgba(0,0,0,0)' and section.settings.section_line != blank
    assign line_color = true
    assign line_color_section = section.settings.section_line
  endif
  assign btn_color_section = settings.color_background
  assign background_color = false
  if section.settings.background != 'rgba(0,0,0,0)' and section.settings.background != blank
    assign btn_color_section = section.settings.background
    assign background_color = true
    assign background_color_section = section.settings.background
  endif
  if section.settings.background_gradient != 'rgba(0,0,0,0)' and section.settings.background_gradient != blank
    assign background_color = true
    assign background_color_section = section.settings.background_gradient
  endif
-%}

{% style %}
  .dynamic-section-{{ section.id }} {
    --section-padding-top-mobile: {{ section.settings.padding_top_mobile }}px;
    --section-padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --section-padding-bottom-mobile: {{ section.settings.padding_bottom_mobile }}px;
    --section-padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
    --section-margin-bottom-mobile: {{ section.settings.margin_bottom_mobile }}px;
    --section-margin-bottom-desktop: {{ section.settings.margin_bottom_desktop }}px;
    {%- if text_color -%}
    --color_title_text:{{ text_color_section }};
    --color_text:{{ text_color_section }};
    --color_accent:{{ text_color_section }};
    --color_accent_modify_25:{{ text_color_section | color_modify: 'alpha', 0.25 }};
    --button_primary_background:{{ text_color_section }};
    --button_primary_border:{{ text_color_section }};
    --button_primary_text:{{ btn_color_section }};
    {%- endif -%}
    {%- if text_color_hover -%}
    --color_text_hover:{{ text_color_hover_section }};
    {%- endif -%}
    {%- if line_color -%}
    --color_border:{{ line_color_section }};
    {%- endif -%}
    {%- if background_color -%}
    --color_background:{{ background_color_section }};
    {%- endif -%}
  }
{% endstyle %}

<div class="dynamic-section dynamic-section-{{ section.id }}">
  <section id="password"
           data-section-id="{{ section.id }}" 
           data-section-type="password_page"
           data-url="{{ 'script.password.js' | asset_url }}">
    <div class="section-password section-padding-top section-padding-bottom section-margin-bottom{% if section.settings.padding_border %} section-border{% endif %}">

      <div class="section-password-wrapper page-content rte">

        {% if section.settings.logo != blank or section.settings.title_enable or section.settings.title_sub != blank or section.settings.enable_social_sharing %}
        <div class="masthead">
          {%- liquid
            if section.settings.logo != blank    
              capture alt
                if section.settings.logo.alt != blank
                  echo section.settings.logo.alt | escape
                else
                  echo shop.name | escape
                endif
              endcapture
              echo '<p>'              
              render 'image.load', img_src: section.settings.logo, size: section.settings.logo_width, alt: alt, class: 'site-logo-image bottompad', logo: true, lazy: 'eager'
              echo '</p>'
            endif
          -%}
          {% if section.settings.title_enable %}
            <h1 class="section-title{% if section.settings.title_sub != blank %} section-title-half{% endif %} section-title-{{ section.settings.title_size }} {{ section.settings.title_outline }}" aria-label="{{ shop.name | escape }}">{{ shop.name }}</h1>
          {% endif %}
          {% if section.settings.title_sub != blank %}
            <h2 class="section-title section-title-{{ section.settings.title_sub_size }} {{ section.settings.title_sub_outline }}">{{ section.settings.title_sub }}</h2>
          {% endif %}
          {%- liquid
            if section.settings.enable_social_sharing
              render 'social.share', block: true
            endif
          -%}
        </div>
        {% endif %}

        {% unless shop.password_message == blank %}
          <p>{{ shop.password_message }}</p>
        {% endunless %}

        {% if section.settings.show_newsletter_signup %}
        <div class="newsletter-slide visible slider-v" data-revealer-visible="true">
          <div class="section-password-newsletter storefront-newsletter-form">
            {% if section.settings.newsletter_title != blank %}<h3 class="section-title-24">{{ section.settings.newsletter_title }}</h3>{% endif %}
            {% if section.settings.newsletter_text != blank %}{{ section.settings.newsletter_text }}{% endif %}
            {%- render 'newsletter', background_color: background_color -%}
            <button type="button" class="password-toggle underline">{{ 'password.enter_password' | t }}</button>
          </div>
        </div>
        {% endif %}

        <div{% if section.settings.show_newsletter_signup %} class="password-slide slider-v" data-height{% endif %}>
          <div class="section-password-form">
            <h3 class="section-title-24">{{ 'password.enter_password' | t }}</h3>
            {% form 'storefront_password' %}
            {% if form.errors %}{{ form.errors | default_errors }}{% endif %}
            <label class="visually-hidden"
                   for="password-input">{{ 'general.form.password_placeholder' | t }}</label>
            <input id="password-input"
                   type="password" 
                   name="password" 
                   placeholder="{{ 'general.form.password_placeholder' | t | escape }}">
            <button type="submit" class="btn btn-primary {% if background_color %}alt {% endif %}arrow">{{ 'general.form.submit' | t }}</button>
            {% endform %}
            {% if section.settings.show_newsletter_signup %}<button type="button" class="password-toggle underline">{% if section.settings.newsletter_title != blank %}{{ section.settings.newsletter_title }}{% else %}{{ 'general.form.cancel' | t | escape }}{% endif %}</button>{% endif %}
          </div>
        </div>
        
      </div>

    </div>
  </section>
</div>

{% schema %}
  {
    "name": "t:sections.section.titles.password_page.content",
    "class": "section-password",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.general.logo.label"
      },
      {
        "id": "logo",
        "type": "image_picker",
        "label": "t:sections.image.title.label"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 40,
        "max": 400,
        "step": 5,
        "unit": "px",
        "label": "t:sections.general.logo.max.label",
        "default": 250
      },
      {
        "type": "header",
        "content": "t:sections.text.title.label"
      },
      {
        "id": "title_enable",
        "type": "checkbox",
        "label": "t:sections.text.enable.label",
        "default": true
      },
      {
        "type": "select",
        "id": "title_outline",
        "label": "t:sections.text.outline.heading_outline.label",
        "options": [
          {
            "value": "none",
            "label": "t:sections.text.outline.option_1.label"
          },
          {
            "value": "title-outline title-outline-1",
            "label": "t:sections.text.outline.option_2.label"
          },
          {
            "value": "title-outline title-outline-2",
            "label": "t:sections.text.outline.option_3.label"
          },
          {
            "value": "title-outline title-outline-3",
            "label": "t:sections.text.outline.option_4.label"
          }
        ],
        "default": "none"
      },
      {
        "id": "title_size",
        "type": "range",
        "label": "t:sections.text.heading_size.label",
        "min": 18,
        "max": 96,
        "step": 6,
        "unit": "px",
        "default": 48
      },
      {
        "id": "title_sub",
        "type": "text",
        "label": "t:sections.text.subheading.label",
        "default": "Coming soon"
      },
      {
        "type": "select",
        "id": "title_sub_outline",
        "label": "t:sections.text.outline.subheading_outline.label",
        "options": [
          {
            "value": "none",
            "label": "t:sections.text.outline.option_1.label"
          },
          {
            "value": "title-outline title-outline-1",
            "label": "t:sections.text.outline.option_2.label"
          },
          {
            "value": "title-outline title-outline-2",
            "label": "t:sections.text.outline.option_3.label"
          },
          {
            "value": "title-outline title-outline-3",
            "label": "t:sections.text.outline.option_4.label"
          }
        ],
        "default": "none"
      },
      {
        "id": "title_sub_size",
        "type": "range",
        "label": "t:sections.text.subheading_size.label",
        "min": 18,
        "max": 96,
        "step": 6,
        "unit": "px",
        "default": 42
      },
      {
        "id": "section_color",
        "type": "color",
        "label": "t:sections.text.color.label"
      },
      {
        "id": "section_color_hover",
        "type": "color",
        "label": "t:sections.text.hover.label"
      },
      {
        "id": "section_line",
        "type": "color",
        "label": "t:settings_schema.colors.settings.elements_line.label"
      },
      {
        "type": "header",
        "content": "t:sections.general.options.label"
      },
      {
        "type": "checkbox",
        "id": "enable_social_sharing",
        "label": "t:sections.general.social.label",
        "default": true
      },
      {
        "id": "show_newsletter_signup",
        "type": "checkbox",
        "label": "t:sections.general.newsletter.show.label",
        "default": true
      },
      {
        "id": "newsletter_title",
        "type": "text",
        "label": "t:sections.general.title.label",
        "default": "Welcome and subscribe"
      },
      {
        "id": "newsletter_text",
        "type": "richtext",
        "label": "t:sections.general.text.label"
      },
      {
        "type": "header",
        "content": "t:sections.section.name.content"
      },
      {
        "id": "background",
        "type": "color",
        "label": "t:sections.section.settings.background_color.label"
      },
      {
        "id": "background_gradient",
        "type": "color_background",
        "label": "t:sections.section.settings.background_gradient.label"
      },
      {
        "type": "paragraph",
        "content": "t:sections.section.settings.mobile.content"
      },
      {
        "id": "padding_top_mobile",
        "type": "range",
        "label": "t:sections.section.settings.top_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 20
      },
      {
        "id": "padding_bottom_mobile",
        "type": "range",
        "label": "t:sections.section.settings.bottom_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 20
      },
      {
        "id": "margin_bottom_mobile",
        "type": "range",
        "label": "t:sections.section.settings.bottom_margin.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 20
      },
      {
        "type": "paragraph",
        "content": "t:sections.section.settings.desktop.content"
      },
      {
        "id": "padding_top_desktop",
        "type": "range",
        "label": "t:sections.section.settings.top_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 40
      },
      {
        "id": "padding_bottom_desktop",
        "type": "range",
        "label": "t:sections.section.settings.bottom_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 40
      },
      {
        "id": "margin_bottom_desktop",
        "type": "range",
        "label": "t:sections.section.settings.bottom_margin.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 40
      },
      {
        "id": "padding_border",
        "type": "checkbox",
        "label": "t:sections.section.settings.border.label",
        "default": false
      }
    ]
  }
{% endschema %}