{%- liquid
  assign text_color = false
  if section.settings.section_color != 'rgba(0,0,0,0)' and section.settings.section_color != blank
    assign text_color = true
    assign text_color_section = section.settings.section_color
  endif     
  assign text_color_hover = false
  if section.settings.section_color_hover != 'rgba(0,0,0,0)' and section.settings.section_color_hover != blank
    assign text_color_hover = true
    assign text_color_hover_section = section.settings.section_color_hover
  endif    
  assign line_color = false
  if section.settings.section_line != 'rgba(0,0,0,0)' and section.settings.section_line != blank
    assign line_color = true
    assign line_color_section = section.settings.section_line
  endif
  assign btn_color_section = settings.color_background
  assign background_color = false
  if section.settings.background != 'rgba(0,0,0,0)' and section.settings.background != blank
    assign btn_color_section = section.settings.background
    assign background_color = true
    assign background_color_section = section.settings.background
  endif
  if section.settings.background_gradient != 'rgba(0,0,0,0)' and section.settings.background_gradient != blank
    assign background_color = true
    assign background_color_section = section.settings.background_gradient
  endif
-%}

{% style %}
  {%- if section.settings.enable_menu_form -%}body {padding-bottom: 100px;}{%- endif -%}
  .dynamic-section-{{ section.id }} {
    --section-padding-top-mobile: {{ section.settings.padding_top_mobile }}px;
    --section-padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --section-padding-bottom-mobile: {{ section.settings.padding_bottom_mobile }}px;
    --section-padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
    --section-margin-bottom-mobile: {{ section.settings.margin_bottom_mobile }}px;
    --section-margin-bottom-desktop: {{ section.settings.margin_bottom_desktop }}px;
    {%- if text_color -%}
    --color_title_text:{{ text_color_section }};
    --color_text:{{ text_color_section }};
    --color_text_modify_5:{{ text_color_section }};
    --color_text_modify_25:{{ text_color_section | color_modify: 'alpha', 0.25 }};
    --color_sale:{{ text_color_section }};
    --color_error:{{ text_color_section }};
    --color_label:{{ text_color_section }};
    --color_accent:{{ text_color_section }};
    --color_accent_modify_25:{{ text_color_section | color_modify: 'alpha', 0.25 }};
    --button_primary_background:{{ text_color_section }};
    --button_primary_border:{{ text_color_section }};
    --button_primary_text:{{ btn_color_section }};
    --button_secondary_background:{{ btn_color_section }};
    --button_secondary_border:{{ text_color_section }};
    --button_secondary_text:{{ text_color_section }};
    {%- endif -%}
    {%- if text_color_hover -%}
    --color_text_hover:{{ text_color_hover_section }};
    {%- endif -%}
    {%- if line_color -%}
    --color_border:{{ line_color_section }};
    {%- endif -%}
    {%- if background_color -%}
    --color_background:{{ background_color_section }};
    {%- endif -%}
  }
{% endstyle %}

<div class="dynamic-section dynamic-section-{{ section.id }}">
  <section data-section-id="{{ section.id }}" 
           data-section-type="cart"         
           data-calc="{% if cart.requires_shipping %}{{ section.settings.show_calc }}{% else %}false{% endif %}"
           data-button-update-shipping-title="{{ 'cart.button_update_shipping_title' | t | escape }}"
           data-button-update-shipping-disabled-title="{{ 'cart.button_update_shipping_disabled_title' | t | escape }}"
           data-customer-logged-in="{%- if customer -%}true{%- else -%}false{%- endif -%}"
           data-cart-section>
    <div class="container-inner section-padding-top section-padding-bottom section-margin-bottom{% if section.settings.padding_border %} section-border{% endif %}">

      {% if section.settings.title_enable or section.settings.title_sub != blank %}
      <div class="masthead">
        {% if section.settings.title_enable %}
        <h1 class="section-title{% if section.settings.title_sub != blank %} section-title-half{% endif %} section-title-{{ section.settings.title_size }} {{ section.settings.title_outline }}">{{ 'cart.title' | t }}</h1>
        {% endif %}
        {% if section.settings.title_sub != blank %}
        <h2 class="section-title section-title-{{ section.settings.title_sub_size }} {{ section.settings.title_sub_outline }}">{{ section.settings.title_sub }}</h2>
        {% endif %}
      </div>
      {% endif %}

      <form class="cart-form" action="{{ routes.cart_url }}" method="post" data-cart-form>

        <div class="cart-items{% if cart.items.size == 0 %} cart-empty{% endif %} quantity-{{ section.settings.quantity_enable }}" data-cart-items>

          {%- liquid
            if section.settings.enable_lazy
              assign lazy = 'lazy'
            else
              assign lazy = 'eager'
            endif 
            for item in cart.items
              render 'cart.item', item: item, count: true, quantity_enable: section.settings.quantity_enable, lazy: lazy
            endfor
          -%}

          {% if cart.items.size == 0 %}
          <div class="cart-mini-empty visible" data-revealer-visible="true">
            <h3 class="cart-empty-message" data-cart-empty-message>{{ 'cart.empty' | t }}</h3>
            <a class="cart-mini-button-continueshopping btn btn-primary{% if background_color %} alt{% endif %}" href="{{ routes.all_products_collection_url }}" title="{{ 'product.continue_shopping' | t | escape }}">{{ 'product.continue_shopping' | t }}</a>
          </div>
          {% endif %}

        </div>

        <div class="cart-content{% if cart.items.size > 0 %} visible{% endif %} slider-v"{% if cart.items.size > 0 %} data-revealer-visible="true"{% endif %}>

          {% if section.settings.show_notes %}
          <div class="cart-note">
            <label for="cart-note-content" class="visually-hidden">{{ 'cart.notes' | t | escape }}</label>
            <textarea id="cart-note-content" class="cart-note-content" name="note" placeholder="{{ section.settings.notes_placeholder | escape }}">{{ cart.note }}</textarea>
          </div>
          {% endif %}

          <div class="cart-totals">

            {% unless section.settings.enable_menu_form %}
              <div class="cart-discounts" data-cart-discounts>
                {%- for discount_application in cart.cart_level_discount_applications -%}
                <div class="cart-discount">
                  <span class="cart-discount-title">
                    {%- render 'icons', id: 'sale-tag', class: ' cart-discount-sale-tag', size: 12 -%}
                    {{ discount_application.title }}
                  </span>
                  <span class="cart-discount-amount">
                    -<span class="money">{% if settings.currency_enable %}{{ discount_application.total_allocated_amount | money_with_currency }}{% else %}{{ discount_application.total_allocated_amount | money }}{% endif %}</span>
                  </span>
                </div>
                {%- endfor -%}
              </div>
            {% endunless %}

            <div class="cart-total-row">
              <span class="cart-total-row-title">{{ 'cart.totals.subtotal_title' | t }}</span>
              <span class="cart-total-row-value money" data-cart-subtotal>{% if settings.currency_enable %}{{ cart.total_price | money_with_currency }}{% else %}{{ cart.total_price | money }}{% endif %}</span>
            </div>

            {%- liquid
              unless section.settings.show_msg
                echo '<p>'
                if cart.taxes_included and shop.shipping_policy.body != blank
                  echo 'cart.shipping_calculator.tax_incl_ship_checkout_html' | t: link: shop.shipping_policy.url
                elsif cart.taxes_included
                  echo 'cart.shipping_calculator.tax_incl_ship_checkout' | t
                elsif shop.shipping_policy.body != blank
                  echo 'cart.shipping_calculator.tax_ship_checkout_both_html' | t: link: shop.shipping_policy.url
                else
                  echo 'cart.shipping_calculator.tax_ship_checkout_both' | t
                endif
                echo '</p>'
              endunless
            -%}            

            {%- liquid
              if section.settings.show_calc and cart.requires_shipping
                unless section.settings.enable_menu_form
                  render 'cart.shipping.calculator', inline: true
                endunless
              endif
            -%}

            {% if section.settings.enable_menu_form %}<noscript>{% endif %}
            <button class="btn btn-{% if additional_checkout_buttons %}secondary{% else %}primary{% endif %} {% if background_color %}alt {% endif %}btn-full-width cart-totals-checkout" type="submit" name="checkout">
              <span class="sticky-menu-button-checkout-text{% if section.settings.enable_checkout_lock_icon %} relative with-lock{% endif %}">
                {%- liquid
                  if section.settings.enable_checkout_lock_icon
                    render 'icons', id: 'checkout-lock', size: 18
                  endif
                -%}
              </span>
              {{ 'cart.button_checkout_title' | t }}
            </button>
            {% if section.settings.enable_menu_form %}</noscript>{% endif %}
            
            {%- liquid
              if section.settings.enable_menu_form
                render 'cart.sticky', cart: cart, background_color: background_color
              endif
            -%}

            {% if additional_checkout_buttons %}
            <div class="additional-checkout-buttons additional-checkout-buttons--vertical{% if section.settings.enable_menu_form == false %} additional-checkout-buttons-inline{% endif %}">{{ content_for_additional_checkout_buttons }}</div>
            {% endif %}

          </div>

        </div>

      </form>

    </div>
  </section>
</div>

{% schema %}
  {
    "name": "t:sections.section.titles.cart_page.content",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.text.title.label"
      },
      {
        "id": "title_enable",
        "type": "checkbox",
        "label": "t:sections.text.enable.label",
        "default": true
      },
      {
        "type": "select",
        "id": "title_outline",
        "label": "t:sections.text.outline.heading_outline.label",
        "options": [
          {
            "value": "none",
            "label": "t:sections.text.outline.option_1.label"
          },
          {
            "value": "title-outline title-outline-1",
            "label": "t:sections.text.outline.option_2.label"
          },
          {
            "value": "title-outline title-outline-2",
            "label": "t:sections.text.outline.option_3.label"
          },
          {
            "value": "title-outline title-outline-3",
            "label": "t:sections.text.outline.option_4.label"
          }
        ],
        "default": "none"
      },
      {
        "id": "title_size",
        "type": "range",
        "label": "t:sections.text.heading_size.label",
        "min": 18,
        "max": 96,
        "step": 6,
        "unit": "px",
        "default": 48
      },
      {
        "id": "title_sub",
        "type": "text",
        "label": "t:sections.text.subheading.label"
      },
      {
        "type": "select",
        "id": "title_sub_outline",
        "label": "t:sections.text.outline.subheading_outline.label",
        "options": [
          {
            "value": "none",
            "label": "t:sections.text.outline.option_1.label"
          },
          {
            "value": "title-outline title-outline-1",
            "label": "t:sections.text.outline.option_2.label"
          },
          {
            "value": "title-outline title-outline-2",
            "label": "t:sections.text.outline.option_3.label"
          },
          {
            "value": "title-outline title-outline-3",
            "label": "t:sections.text.outline.option_4.label"
          }
        ],
        "default": "none"
      },
      {
        "id": "title_sub_size",
        "type": "range",
        "label": "t:sections.text.subheading_size.label",
        "min": 18,
        "max": 96,
        "step": 6,
        "unit": "px",
        "default": 42
      },
      {
        "id": "section_color",
        "type": "color",
        "label": "t:sections.text.color.label"
      },
      {
        "id": "section_color_hover",
        "type": "color",
        "label": "t:sections.text.hover.label"
      },
      {
        "id": "section_line",
        "type": "color",
        "label": "t:settings_schema.colors.settings.elements_line.label"
      },
      {
        "type": "header",
        "content": "t:sections.general.options.label"
      },
      {
        "id": "enable_lazy",
        "type": "checkbox",
        "label": "t:sections.general.lazy.multiple.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "quantity_enable",
        "label": "t:sections.general.cart.quantity.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_checkout_lock_icon",
        "label": "t:sections.general.cart.lock.label",
        "default": true
      },
      {
        "id": "show_notes",
        "type": "checkbox",
        "label": "t:sections.general.cart.notes.label",
        "default": true
      },
      {
        "id": "notes_placeholder",
        "type": "text",
        "label": "t:sections.general.cart.notes_text.label",
        "default": "Write any special instructions for your shipment here"
      },
      {
        "id": "show_msg",
        "type": "checkbox",
        "label": "t:sections.general.cart.shipping_tax.label",
        "default": false
      },
      {
        "id": "show_calc",
        "type": "checkbox",
        "label": "t:sections.general.cart.shipping.label",
        "default": true
      },
      {
        "id": "shipping_calculator_default_country",
        "type": "text",
        "label": "t:sections.general.cart.shipping_country.label",
        "default": "United States"
      },
      {
        "type": "checkbox",
        "id": "enable_menu_form",
        "label": "t:sections.general.sticky.label",
        "default": false,
        "info": "t:sections.general.sticky.cart.info"
      },
      {
        "type": "header",
        "content": "t:sections.section.name.content"
      },
      {
        "id": "background",
        "type": "color",
        "label": "t:sections.section.settings.background_color.label"
      },
      {
        "id": "background_gradient",
        "type": "color_background",
        "label": "t:sections.section.settings.background_gradient.label"
      },
      {
        "type": "paragraph",
        "content": "t:sections.section.settings.mobile.content"
      },
      {
        "id": "padding_top_mobile",
        "type": "range",
        "label": "t:sections.section.settings.top_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 20
      },
      {
        "id": "padding_bottom_mobile",
        "type": "range",
        "label": "t:sections.section.settings.bottom_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 20
      },
      {
        "id": "margin_bottom_mobile",
        "type": "range",
        "label": "t:sections.section.settings.bottom_margin.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 20
      },
      {
        "type": "paragraph",
        "content": "t:sections.section.settings.desktop.content"
      },
      {
        "id": "padding_top_desktop",
        "type": "range",
        "label": "t:sections.section.settings.top_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 40
      },
      {
        "id": "padding_bottom_desktop",
        "type": "range",
        "label": "t:sections.section.settings.bottom_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 40
      },
      {
        "id": "margin_bottom_desktop",
        "type": "range",
        "label": "t:sections.section.settings.bottom_margin.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 40
      },
      {
        "id": "padding_border",
        "type": "checkbox",
        "label": "t:sections.section.settings.border.label",
        "default": false
      }
    ]
  }
{% endschema %}